/* inter-100 - Thin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Inter-Thin.woff2') format('woff2');
  }
  
  /* inter-200 - Extra Light */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Inter-ExtraLight.woff2') format('woff2');
  }
  
  /* inter-300 - Light */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Inter-Light.woff2') format('woff2');
  }
  
  /* inter-400 - Regular */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
  }
  
  /* inter-500 - Medium */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
  }
  
  /* inter-600 - Semi Bold */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
  }
  
  /* inter-700 - Bold */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
  }
  
  /* inter-800 - Extra Bold */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Inter-ExtraBold.woff2') format('woff2');
  }
  
  /* inter-900 - Black */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Inter-Black.woff2') format('woff2');
  }
  
  /* Optional: Variable font */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2');
  }
  

  /* inter-100 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/inter-v18-latin-100.woff2') format('woff2'); 
}
/* inter-200 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/inter-v18-latin-200.woff2') format('woff2'); 
}
/* inter-300 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v18-latin-300.woff2') format('woff2'); 
}
/* inter-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'); 
}
/* inter-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v18-latin-500.woff2') format('woff2'); 
}
/* inter-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v18-latin-600.woff2') format('woff2'); 
}
/* inter-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v18-latin-700.woff2') format('woff2'); 
}
/* inter-800 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v18-latin-800.woff2') format('woff2'); 
}
/* inter-900 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-v18-latin-900.woff2') format('woff2'); 
}